
  #productCard {
    height: 320px;
    padding: 0px;
    box-shadow: none;
    @include sm {
      padding: 30px;
    }
    &:hover {
      .img {
        transform: rotate(7deg);
        opacity: 0.5;
      }
      .cartBtn {
        opacity: 1;
      }
    }
    .img {
      height: 73%;
    }
    #productCardTitle {
      margin-top: 11px;
      .productCardRouterLink {
        font-weight: bold;
        font-size: 16px;
      }
      .productCardSubtitle {
        position: relative;
        font-size: 16px;
        
      }
    }
    .cartBtn {
      opacity: 0;
    }
  }
